/* reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap');
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem, "Source Sans Pro", sans-serif; /* serif */
    margin: 0;
}
/* Contexte css de balise htlml */
p, figure, h1, h2, h3, h4, ul, ol{
    margin: 0;
    padding: 0;
}

header h1 img{
    width: auto;
}

figure{
    max-width: 34rem;
    margin: 0 auto 2rem;
    border: .1rem #222 solid;
    padding: 1rem;
    background-color: #fafafa;
}
figure img{
    display: block;
    width: 100%;
}

/* theme */
:root{
    --color-default: #000;
    --color-primary: rgb(70, 43, 131); 
    --color-warning: rgb(150, 35, 35);
    --color-success: rgb(27, 129, 52);
}
header h1{
    line-height: 6rem;
    text-align: center;
    margin-bottom: 6rem;
    background-color: var(--color-success);
    color: #fafafa;
    font-weight: 300;
}
figure figcaption h2{
    text-align: center;
    line-height: 6rem;
}
figure figcaption h2::before{
    content: url(../asset/adobe_portfolio_folder_icon_133965.svg);
}
figure:first-child h2::before{
    content: "\2764";
    margin-right: 5rem;
    color: var(--color-success);
}

figcaption p{
    line-height: 2rem;
    text-align: justify;
}
footer *{
    text-align: center;
    font-size: small;
}

.icone{
    width: 4rem;
}

@media screen and (max-width: 60rem){
    header h1{
        margin-bottom: .1rem;
    }

    figcaption h2{
        font-size: large;
    }

    figure{
        margin-bottom: .1rem;
        border-bottom: 0;
    }

    footer{
        min-height: 50vh;
    }
}